* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    background-color:rgb(57, 62, 70);
}

h1,h2,h3,h4,h5,h6,p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.top_bar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(34, 40, 49);
    width: 100%;
    height: 8vh;
    display: flex; /* To use flex properties */
    justify-content: flex-end; /* Align text to the right */
    align-items: center; /* Vertically center the content */
    padding: 0 10vh; /* Optional: Add padding on the right */
}

.bar_text {
    color: rgb(0, 173, 181);
    font-size: 4.2vh;
    display: flex;
    gap: 10vh; /* Space between text items */
}

/* Optional hover effect for text */
.bar_text a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease;
}

.bar_text a:hover {
    color: rgb(238, 238, 238);
}




.space {
    margin-top: 3vh;
    padding-left: 20vh;
    padding-right: 20vh;
    color: rgb(238, 238, 238);
}


.otsikko_text {
    padding-top: 8vh;
    font-size: 7vh;
}


.bold_text {
    font-weight: bold;
    font-size: 2vh;
}


.p_text {
    font-size: 3vh;
}



div.polaroid {
    width: 80%;
    background-color: rgb(34, 40, 49);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 2vh;
  }
  
  div.container {
    text-align: center;
    padding: 2vh 2vh;
  }

.otsikko_link {
    color: rgb(238, 238, 238);
}


.otsikko_link:hover {
    color: rgb(0, 173, 181);
}

.bold_normal_text {
    font-size: 3vh;
}